{% extends 'base.html.twig' %}

{% set title = "Marc Bayart" %}

{% block header %}

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center text-white" id="intro">
                <h1 style="margin-top: 150px; margin-bottom: 150px"> Marc Bayart </h1>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row bg-secondary">
            <div class="col text-center text-white bg-secondary mt-5">
                <h2> Qui suis-je ? </h2>
                <hr class="my-4 bg-white">
                <img height="150" class="rounded-lg" src="{{ asset('/assets/images/marc.png') }}" alt="Photo Marc">
                <p class="mt-4 mb-5">
                    Étudiant en deuxième année de DUT (Diplôme Universitaire de Technologie)
                    informatique à Lens. Je suis particulièrement intéressé par le développement Java et PHP (Back-end).
                    Si vous voulez en savoir plus, utilisez les boutons ci-dessous !
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}