{% extends 'base.html.twig' %}

{% set title = "Marc Bayart" %}

{% block body %}

<div>
    <h1 class="text-primary">Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/bayart/Documents/Portfolio/Portfolio/src/Controller/PortfolioController.php'|file_link(0) }}">src/Controller/PortfolioController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/bayart/Documents/Portfolio/Portfolio/templates/portfolio/home.html.twig'|file_link(0) }}">templates/portfolio/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
