$theme-colors:(
  "primary": #008F1D,
  "secondary": #008F83
);

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Lato;
  src: url('fonts/Lato-Regular.ttf');
}

body{
  font-family: Lato;
}

header{
  font-family: Lato;
}

footer{
  font-family: Lato;
}

hr{
  max-width: 75px;
}

#intro {
  background: url("../../public/assets/images/intro.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60%;
}

#moi{
  height: 150px;
  width: auto;
  border-radius: 20%;
}

.img{
  width: auto;
  height: 200px;
  //max-height: 150px;
}


