$theme-colors:(
  "primary": #008F1D,
  "secondary": #008F83
);

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Lato;
  src: url('fonts/Lato-Regular.ttf');
}

body, header, footer{
  font-family: Lato;
}

hr{
  max-width: 75px;
}

#intro {
  background: url("../../public/assets/images/intro.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60%;
}

#moi{
  height: 150px;
  width: auto;
  border-radius: 20%;
}

.boutonsSections{
  border: none;
}

.img{
  width: auto;
  height: 200px;
}

.btn-outline-light:hover{
  color: #008F83;
}

@media screen and (min-width: 769px) and (max-width: 991px){
  body, header, footer, .card-header, .boutonDetails{
    font-size: 35px;
  }

  u{
    font-size: 40px;
  }

  h2{
    font-size: 50px;
  }

  .fa-4x{
    height: 100px;
    width: 100px;
  }
}