$theme-colors:(
  "primary": #008F1D,
  "secondary": #008F83
);

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Lato;
  src: url('Fonts/Lato-Regular.ttf');
}

body{
  font-family: Lato;
}